@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #F3F3F3;
}

* {
    box-sizing: border-box;
}

header, footer {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right:0;
    padding: 0 22px;
    background-color: #FFFFFF;
    z-index: 1;
}

header {
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
    width: 75px;
}

header ion-icon {
    font-size: 45px;
}

main {
    margin-top: 100px;
    margin-bottom: 90px;
}

main p {
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    margin-bottom: 4px;
    line-height: 20px;
    line-break: anywhere;
    max-width: 100%;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #FFFFFF;
}

.private_message {
    background-color: #FFDEDE;
}

.time {
    color: #AAAAAA;
}

.name, .to {
    font-weight: 700;
}

footer {
    bottom: 0;
    padding: 15px;
    padding-bottom: 10px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

.textarea-send-to {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer textarea {
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 18px;
    resize: none;
    margin-bottom: 5px;
}

footer textarea::placeholder {
    color: #000000;
    font-style: italic;
}

footer textarea:focus {
    border: none;
    outline: none;
}

footer textarea:focus::placeholder {
    color: transparent;
}

footer ion-icon {
    font-size: 26px;
}

footer .textarea-send-to p {
    color: #505050;
    font-size: 14px;
}

.enter-screen {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;

}

.enter-screen, .enter-screen-input, .enter-screen-loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-screen img {
    width: 150px;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.enter-screen input {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 85%;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
}

.enter-screen input::placeholder {
    color: #AEAEAE;
    text-align: center;
    font-size: 18px;
}

.enter-screen input:focus {
    outline: none;
    text-align: center;
}

.enter-screen button {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    border: none;
    text-align: center;
    font-size: 18px;
    color: #696969;
    scale: 1;
    transform: all 0.3s linear;
}

.enter-screen p {
    color: red;
    font-size: 15px;
    margin-top: 15px;
}

.enter-screen-loading p {
    color: #000000;
    font-size: 18px;
}

/* ---------------------------------------------------------- TENTAR FAZER TRANSIÇÃO DA DIREITA PRA ESQUERDA ---------------------------------------------------------- */
.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.modal-opacity {
    width: 33%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    height: 100%;
    background-color: #FFFFFF;
    font-size: 16px;
}

.modal-content h3 {
    text-align: center;
    font-weight: 700;
    padding: 25px 35px;
}

.modal-content ul, .all {
    padding-left: 20px;
    padding-right: 20px;
}

.modal-content ul li, .all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-content ul li span, .all span {
    margin-left: 10px;
    flex-grow: 1;
    line-break: anywhere;
}

.modal-content ul li ion-icon, .all ion-icon {
    font-size: 22px;
}

.modal-content ul li img, .all img {
    width: 12px;
    opacity: 0;
}

.modal-content ul li img.checkmark-green, .all img.checkmark-green {
    opacity: 1;
}

.hidden {
    display: none;
}

.enter-screen-loading .loader {
    color: #000000;
    font-size: 12px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
    margin-bottom: 50px;
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 
        2em -2em 0 0em, 3em 0 0 -1em, 
        2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
        3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 
        2em -2em 0 0, 3em 0 0 0.2em, 
        2em 2em 0 0, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
        -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
        -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
        -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
        3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
